.productPage {
  display: flex;
}

.productsPageLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
}

.productsPageLinksItem {
  margin: 20px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.activeLink {
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
